@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&family=Pragati+Narrow:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
  color: #222;
  font-size: 18px;
  /* font-family: "Pragati Narrow", sans-serif; */
}
a {
  text-decoration: none;
}
.h {
  height: 1400px;
}
header {
  position: fixed;
  width: 100%;
  padding: 20px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 500ms;
}
header.sticky {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.logo span a {
  font-size: 1.8rem;
  color: #2bb9ab;
  font-weight: 700;
}
nav {
  flex-basis: 80%;
}
nav.menu ul {
  display: flex;
}
nav.menu ul li {
  list-style: none;
}
nav.menu ul li a {
  padding: 10px 20px;
}
.btn {
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 500ms;
  outline: none;
}
.btn-primary {
  background: #2bb9ab;
  border: 1px solid #2bb9ab;
  color: #fff;
}
.btn-secondary {
  color: #1d8972;
}
.btn-primary:hover {
  background: #1d8972;
}
.btn-primary:focus,
.btn-cards:focus {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.349);
}
section {
  transition: all 500ms;
}
section.banner {
  display: flex;
  min-height: 90vh;
  padding: 0px 20px 0px 30px;
}
.content {
  align-self: center;
  min-width: 60%;
  padding-right: 10px;
}
.content h1 {
  font-weight: 700;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 3.2rem;
  line-height: 1;
}
.content p {
  width: 90%;
  margin: 30px 0px;
}
section .img img {
  width: 100%;
  height: 100%;
}
section.words {
  display: flex;
  justify-content: space-between;
}
section.words .img {
  min-width: 55%;
}
section.words .img img,
section.why-us .img img {
  width: 100%;
  height: 100%;
}
section.words .content {
  padding-left: 60px;
}
section.words .content,
section.why-us .content {
  min-width: 45%;
}
section.words .content h2 {
  font-weight: 600;
  font-size: 1.7rem;
}
section.words .content p {
  color: rgb(136, 136, 136);
}
section.words .content ul {
  padding-left: 20px;
  margin-bottom: 30px;
}
section.donate,
section.why-us,
section.newsletter,
section.words {
  padding: 30px 20px 30px 30px;
}
.heading {
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 1.7rem;
}
.line {
  border: 2px solid rgb(228, 228, 228);
  width: 100px;
  margin: 0px auto;
  border-radius: 10px;
}
p {
  max-width: 800px;
  margin: 0px auto;
  color: rgb(136, 136, 136);
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.card {
  max-width: 380px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 10px;
}
.card .card-header .img-fluid {
  max-width: 100%;
}
.card .card-body {
  padding: 20px;
}
.card-body ul {
  margin: 10px 0px 20px 0px;
  padding-left: 20px;
}
h3 {
  font-weight: 600;
}
.card-body .btn-cards {
  border: 1px solid #1d8972;
  margin: 0px 10px;
  color: #1d8972;
}
.card-body .buttons {
  display: flex;
  justify-content: space-between;
}
.card-body .buttons a {
  width: 45%;
  text-align: center;
}

section.why-us .flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
section.why-us .img {
  min-width: 55%;
  align-self: center;
}
section.why-us .content {
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
}
section.why-us .box {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
section.why-us .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background: #2bb9ab;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 20px;
}
section.why-us i {
  color: #fff;
}
section.why-us .text h3 {
  padding-top: 5px;
}
section.why-us .text p {
  margin: 5px 0px;
}

section.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
section.newsletter .img {
  max-width: 40%;
}
section.newsletter .content {
  padding: 20px 20px 20px 60px;
}
section.newsletter p {
  width: 100%;
}

input[type="email"] {
  height: 46px;
  min-width: 50%;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  border: 1px solid #1d8972;
  padding: 0px 16px;
}

section.newsletter .btn {
  margin-left: -5px;
  border-radius: 0px 5px 5px 0px;
}
@media (max-width: 992px) {
  header {
    padding: 20px 20px;
  }
  section.banner {
    padding: 0px 20px 0px 40px;
  }
  nav {
    flex-basis: 50%;
  }
  section.words,
  section.donate,
  section.why-us,
  section.newsletter {
    padding: 0px 20px 0px 20px;
    margin: 60px 0px;
  }
  section.words .img {
    min-width: 50%;
  }
  section.words .content {
    padding-left: 80px;
  }
  h2 {
    font-weight: 600;
    font-size: 1.5rem;
  }
  section.words .content p {
    font-size: 0.9rem;
    margin: 10px 0px;
    width: 100%;
  }
  section.words .content ul li {
    font-size: 0.9rem;
  }
  .cards {
    justify-content: center;
  }
  .card {
    max-width: 70%;
    min-width: 280px;
  }
  section.why-us .flex {
    flex-direction: column;
  }
  section.why-us .content,
  section.why-us .img {
    max-width: 80%;
    margin-top: 20px;
  }
  section.newsletter {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  section.newsletter .img {
    min-width: 75%;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  header {
    z-index: 200;
    justify-content: space-between;
  }
  .toggle {
    order: 3;
    background-image: url(../images/menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .toggle.active {
    background-image: url(../images/close.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(1);
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  nav.menu {
    order: 4;
    position: fixed;
    top: 92px;
    right: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: all 800ms;
    z-index: 150;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  }
  nav.menu.active {
    right: 0;
  }
  nav.menu ul {
    display: block;
    text-align: center;
  }
  nav.menu ul li {
    padding: 20px 0px;
  }
  nav.menu ul li a {
    font-size: 24px;
  }
  section.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/img2.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  section.banner h1,
  section.banner p {
    color: #fff;
    width: 100%;
    padding: 0%;
  }
  section.banner .img {
    display: none;
  }
  section.words {
    flex-direction: column-reverse;
  }
  section.words .content {
    padding-left: 0px;
  }
  section.words .content p {
    width: 90%;
  }
  section.words .content {
    margin-bottom: 30px;
  }
  section.newsletter .content {
    padding: 0px;
  }
}
@media (max-width: 576px) {
  header {
    flex-wrap: wrap;
    padding: 20px 20px 0px 20px;
    background: #fff;
  }
  nav.menu {
    top: 159px;
  }
  header .donate {
    order: 4;
    width: 100%;
    margin: 20px 0px;
  }
  header .donate > button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0px auto;
  }
  .content {
    padding-right: 0px;
  }
  section.banner {
    padding: 130px 20px 0px 20px;
    min-height: 100vh;
  }
  section.banner .content {
    padding-right: 0px;
  }
  section.banner h1 {
    font-size: 2.5rem;
  }
  section.words,
  section.donate,
  section.why-us,
  section.newsletter {
    padding: 0px 20px;
    margin: 30px 0px;
  }
  h2 {
    font-size: 1.3rem;
  }
  section.words .content p {
    width: 100%;
  }
  section.why-us .content,
  section.why-us .img {
    max-width: 100%;
  }
  .why-us .content,
  section.why-us .img {
    max-width: 100%;
  }
  section.why-us .text p {
    margin: 5px 0px;
  }
  section.why-us .content p {
    width: 100%;
    margin: 10px 0px;
  }
  section.why-us .box {
    padding: 12px 5px;
    margin: 10px 5px;
  }
  input[type="email"]{
    width: 100%;
    border-radius: 5px;
  }
  section.newsletter .btn{
    width: 40%;
    margin-top: 10px;
    border-radius: 5px;
  }
}
